@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Passion One", serif;
}

.header {
    height: 13vh;
    position: relative;
    z-index: 1;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.781);
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/headerBackground.jpg");
    background-position: center;
    z-index: -1;
    filter: brightness(25%);
}

.navbar {
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header #logoIndex {
    margin-top: 1vh;
    height: 10vh;
    width: 35vh;
    transform: translate(10vh, 0vh);
    filter:  brightness(90%);
}

.header .navbar {
    transform: translate(80vh, -4vh);
}

.header a {
    -ms-transform: skewY(12deg);
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
    padding: 5vh;
    text-decoration: none;
    color: white;
}

.navbar .agora {
    height: 10vh;
    font-size: 5vh;
    background: #0E7CB7;
    -ms-transform: skewY(-12deg);
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    transform: skewY(-10deg);
    float: left;
    clip-path: polygon(100% 91%, 89% 12%, 87% -2%, 0% 0%, 2% 9%, 20% 92%, 21% 92%, 97% 69%);
}

.navbar .franquia {
    height: 10vh;
    font-size: 4vh;
    background: #0E7CB7;
    transform: skewY(20deg);
    float: left;
    clip-path: polygon(91% 71%, 88% 12%, 87% 0%, 0% 0%, 0% 2%, 20% 265%, 5% 102%, 91% 68%)
}

.navbar .sobreMim {
    width: 120vh;
    height: 10vh;
    font-size: 3vh;
    background: #0E7CB7;
    transform: skewY(-10deg);
    clip-path: polygon(100% 100%, 148% 30%, 100% -1%, 5% -35%, -118% 113%, 30% 92%, 30% 92%, 182% 85%)
}

.navbar .quiz {
    height: 10vh;
    font-size: 5vh;
    background: #DC1A73;
    transform: skewY(-10deg);
    float: left;
    clip-path: polygon(100% 91%, 89% 12%, 87% -2%, 0% 0%, 2% 9%, 20% 92%, 21% 92%, 97% 69%);
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:  #000000f5;
}

.dashboard .container {
    display: flex;
    align-items: center;

}

.container a {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2vh;
    transform: translate(-67vh, -15vh);
    font-size: 3.5vh;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container a:hover {
    transform: translate(-68vh, -15vh);
    color: #0D691A;
}

.saida-quiz {
    font-size: 3.5vh;
    color: #0D691A;
    transform: translate(-10vh, -4vh);
}

.saida-quiz h2 {
    text-align: center;
    font-size: 8vh;
    color: #DC1A73;
    margin-bottom: 5vh;
}

.grafico {
    display: flex;
    align-items: center;
    padding-left: 3vh;
    padding-right: 3vh;
    gap: 15vh;
}

.sair-quiz img {
    width: auto;
    height: 9vh;
}

.kpis #kpi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 32vh;
    height: 9vh;
    background-color: #D99AB7;
    font-size: 4vh;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    z-index: 10;
}

.footer #direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80vh;
    gap: 74vh;
    font-size: 3vh;
}

.footer #marca {
    color:#2D7305;
}

.footer #marcaDAgua {
    color: #FC3A9A;
}