@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Passion One", serif;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #88185d;
}

::-webkit-scrollbar-thumb:hover {
    background: #227ca5; 
}

.navbar {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/headerBackground.jpg");
    background-position: center;
    z-index: -1;
    filter: brightness(38%);
}

.navbar #logoIndex {
    margin-top: -1vh;
    height: 10vh;
    width: 35vh;
    transform: translate(-40vh, 0vh);
    filter:  brightness(95%);
}

.menu {
    display: flex;
    list-style: none;
    gap: 1vh; 
    transform: translate(-12vh, 4vh) ;
}

.item {
    position: relative;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    text-shadow: 1px 3px 0 #000, -2px 3px 0 #000, 2px -2px 0 #000, -3px -3px 0 #000;
    border: 3.5px solid #000;
    color: white;
    display: inline-block;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.8);
    transition: transform 0.2s, box-shadow 0.2s;
    filter: brightness(55%);
    z-index: 1;
}

.home {
    background-color: #2196f3;
    transform: rotate(-5deg);
    clip-path: polygon(0% 20%, 100% 4%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
}

.franquia {
    background-color: #2196f3;
    transform: rotate(6deg);
    clip-path: polygon(-19% 0%, 100% 24%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.sobre {
    padding: 15px 14px; 
    background-color: #2196f3;
    transform: rotate(-5deg);
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 80%, 0% 95%, 0% 0%);
}

.dash {
    transform: rotate(9deg);
    background-color: #e91e63;
    clip-path: polygon(0% 0%, 0% 23%, 100% 4%, 100% 100%, 0% 100%, 0% 0%);
}

.item a {
    text-decoration: none;
    color: white;
    display: block;
}

.item:hover {
    transform: scale(1.1);
    background-color: #2D7305;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
    filter: brightness(90%);
    z-index: 2;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:  #000000f5;
}

.dashboard .container {
    display: flex;
    align-items: center;
}

.saida-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3.5vh;
    color: #0D691A;
}

.saida-quiz h2 {
    text-align: center;
    font-size: 8vh;
    color: #DC1A73;
    margin-bottom: 5vh;
}

.grafico {
    display: flex;
    align-items: center;
    padding-left: 5vh;
    padding-right: 3vh;
    padding-bottom: 4vh;
    gap: 17vh;
}

.kpis {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    transform: translateX(10vh);
}

.kpis #kpi1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40vh;
    height: 15vh;
    background-color: #D99AB7;
    font-size: 4vh;
    text-align: center;
}

.kpis #kpi2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40vh;
    height: 15vh;
    background-color: #D99AB7;
    font-size: 3.8vh;
    text-align: center;
}

canvas {
    width: 30vh;
    margin-bottom: 5vh;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#exibirPersonagem img{
    position: absolute;
    width: auto;
    height: 70vh;
    z-index: 10;
    transform: translate(-4vh, -47.3vh);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    z-index: 10;
}

.footer #direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80vh;
    gap: 74vh;
    font-size: 3vh;
}

.footer #marca {
    color:#2D7305;
}

.footer #marcaDAgua {
    color: #FC3A9A;
}