@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0;
}

body {
    font-family: "Changa One", serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.877);
}

.armarioCadastro {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/icon/loginCadastro/armarioCadastro.png");
    background-size: 205vh;
    background-position:-27vh;
    background-repeat: no-repeat;
}

.armarioCadastro #balaoFala{
    margin: 0;
    width: 17%;
    transform: translate(94vh, -30vh);
}

.armarioCadastro p {
    top: 5vh;
    position: absolute;
    color: #11792E;
    font-size: 5vh;
    transform: translate(72vh, 3vh);
}

.armarioCadastro #linkLoginBalao {
    top: 5vh;
    position: absolute;
    color: #791151;
    font-size: 5vh;
    transform: translate(72vh, 14vh);
}

.armarioCadastro #pet {
    margin: 0;
    width: 20%;
    height: auto;
    transform: translate(69vh, -10vh);
}

.armarioCadastro #vizualizarSenha {
    /*deixar a imagem clicável*/
    position: absolute;
    width: 7.1vh;
    z-index: -1;
    transform: translate(-3.2vh, 20.8vh);
}

.armarioCadastro #nomeUsuario{
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(10.9vh, -13.8vh);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.8vh;
    font-family: "Changa One", serif;
    color: white;
}

#nomeUsuario::placeholder {
    /*muda cor do texto do input*/
    color: white; 
    opacity: 0.7;
  }

.armarioCadastro #tipoMonstro{
    position: absolute;
    width: 12%;
    height: 4%;
    left: 49%;
    transform: translateX(-50%);
}

.armarioCadastro #senhaUsuario {
    position: absolute;
    width: 8%;
    height: 3%;
    right: 41%;
    transform: translateX(-50%);
}

.armarioCadastro #confirmacaoSenha{
    position: absolute;
    width: 8%;
    height: 3%;
    right: 41%;
    transform: translateX(-50%);
}

.armarioCadastro #idadeUsuario{
    position: absolute;
    width: 4%;
    height: 2%;
    right: 38%;
    transform: translateX(-50%);
}

.armarioCadastro #marcaDaAgua {
    position: absolute;
    width: 2%;
    height: 2%;
    right: 38%;
    color: white;
    font-size: 3vh;
    transform: translate(78vh, 91vh);
}