@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0;
}

body {
    font-family: "Changa One", serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.877);
}

.armarioCadastro {
    transition: opacity 0.3s ease;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/icon/loginCadastro/armarioCadastro.png");
    background-size: 205vh;
    background-position:-27vh;
    background-repeat: no-repeat;
}

.armarioCadastro #balaoFala{
    margin: 0;
    width: 17%;
    transform: translate(94vh, -30vh);
}

.armarioCadastro p {
    top: 5vh;
    position: absolute;
    color: #11792E;
    font-size: 5vh;
    transform: translate(72vh, 3vh);
}

.armarioCadastro #linkLoginBalao {
    top: 5vh;
    position: absolute;
    color: #791151;
    font-size: 5vh;
    transform: translate(72vh, 14vh);
}

.armarioCadastro #pet {
    margin: 0;
    width: 20%;
    height: auto;
    transform: translate(69vh, -10vh);
}

.armarioCadastro #vizualizarSenha {
    /*deixar a imagem clicável*/
    position: absolute;
    width: 7.1vh;
    z-index: -1;
    transform: translate(-3.2vh, 20.8vh);
}

.armarioCadastro #nomeUsuario{
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(10.3vh, -13.8vh);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.8vh;
    font-family: "Changa One", serif;
    color: white;
    text-align: center;
}

#nomeUsuario::placeholder {
    /*muda cor do texto do input e 
    alinha o texto no meio do input*/
    color: white; 
    opacity: 0.7;
    text-align: center;
  }

  .armarioCadastro #tipoMonstro {
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(7.3vh, -6.2vh);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.8vh;
    font-family: "Changa One", serif;
    text-align: center;
    color: white;
    opacity: 0.9;
    appearance: none;
}

/* letra preta para as opções do select */
.armarioCadastro #tipoMonstro option {
    color: black;
}

.armarioCadastro #senhaUsuario {
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(10.3vh, 10vh);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5vh;
    font-family: "Changa One", serif;
    color: black;
    text-align: center;
}

#senhaUsuario::placeholder {
    color: black; 
    opacity: 0.6;
    text-align: center;
  }

.armarioCadastro #confirmacaoSenha{
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(10.3vh, 15vh);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.4vh;
    font-family: "Changa One", serif;
    color: black;
    text-align: center;
}

#confirmacaoSenha::placeholder {
    color: black; 
    opacity: 0.6;
    text-align: center;
  }

.armarioCadastro #idadeUsuario{
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(28vh, 40.3vh);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3.3vh;
    font-family: "Changa One", serif;
    color: rgb(60, 3, 60);
    text-align: center;
}

/*tira as setas do input tipo numero*/
.armarioCadastro #idadeUsuario[type="number"]::-webkit-outer-spin-button,
.armarioCadastro #idadeUsuario[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.armarioCadastro #cadastroUsuario {
    position: absolute;
    width: 11%;
    height: 4%;
    transform: translate(28vh, 40.3vh);
}

.armarioCadastro #marcaDaAgua {
    position: absolute;
    width: 2%;
    height: 2%;
    right: 38%;
    color: white;
    font-size: 3vh;
    transform: translate(78vh, 91vh);
}