@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Passion One", serif;
}

body {
    overflow: hidden;
}

.quiz-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background:  rgba(0, 0, 0, 0.926);
}

.quiz-pagina h1 {
    text-align: center;
    padding-bottom: 3vh;
    height: auto;
    font-size: 10vh;
    color: white;
}

.selecionar span {
    text-align: center; 
    font-size: 6vh;
    max-width: 85vh;
    color: white;
}

.selecionar a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 70vh;
    background-color: #FC3A9A;
    background-repeat: no-repeat;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10vh;
}

.selecionar a:hover {
    transform: translateY(-4vh);
    background-color: #2196f3;
}