@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa One", serif;
}

/* Navbar */
.navbar {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/headerBackground.jpg");
    background-position: center;
    z-index: -1;
    filter: brightness(38%);
}

.navbar #logoIndex {
    margin-top: -1vh;
    height: 10vh;
    width: 35vh;
    transform: translate(-40vh, 0vh);
    filter:  brightness(95%);
}

.menu {
    display: flex;
    list-style: none;
    gap: 1vh; /* Espaçamento entre os botões */
    transform: translate(-12vh, 4vh) ;
}

/* Botões gerais */
.item {
    position: relative;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 4vh;
    text-align: center;
    text-shadow: 1px 3px 0 #000, -2px 3px 0 #000, 2px -2px 0 #000, -3px -3px 0 #000;
    border: 3.5px solid #000;
    color: white;
    display: inline-block;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.8);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
}

/* Estilização por botão */
.home {
    background-color: #2196f3;
    transform: rotate(-5deg);
    clip-path: polygon(-29% 20%, 100% 4%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
}

.franquia {
    background-color: #2196f3;
    transform: rotate(6deg);
    clip-path: polygon(-19% 0%, 100% 24%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.sobre {
    padding: 15px 14px; /* Tamanho reduzido */
    background-color: #e91e63;
    transform: rotate(-5deg);
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, -8% 98%, -6% 0%);
}

/* Botão "Sobre mim" menor */
.quiz {
    transform: rotate(9deg);
    background-color: #2196f3;
    clip-path: polygon(0% 0%, 0% 25%, 100% 4%, 100% 100%, 0% 100%, 0% 0%);
}

/* Links */
.item a {
    text-decoration: none;
    color: white;
    display: block;
}

/* Hover */
.item:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 1); /* Sombra mais forte */
    z-index: 2;
    cursor: pointer;
}

.eu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
    background-color: black;
}

.minhaFoto {
    width: 40vh;
    height: auto;
    border: 5px solid #FC3A9A;
}
  
.fundo-dinamico {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 83vh;
    width: 65vw;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.slide-fotos {
    display: flex;
    width: 300%; 
    transition: linear 25s;
    filter: brightness(90%);
}  
  
.fotos-fundo {
    width: 100%;
    height: 100%;
}
  
.fotos-fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.minhaFoto {
    border-radius: 5px solid #FC3A9A;
    width: 30vh;
    height: auto;
    object-fit: cover;
}
  
.eu h1 {
    text-align: center;
    font-size: 4vh;
    color: white;
    z-index: 1;
}

.eu .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
    gap: 3vh;
    height: auto;
    width: 100%;
    z-index: 1;
}

.eu p {
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.401);
    max-width: 70%; 
    margin-bottom: 6vh;
    text-align: justify; 
    overflow-wrap: break-word; 
}

.colecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.926));
}

.fotoColecao {
    width: 50vh;
    height: auto;
}

.colecao h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 31vh;
    padding-bottom: 3vh;
    height: auto;
    font-size: 8vh;
    color: #86196b;
}

.colecao .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: auto;
    width: 100%;
}

.colecao p {
    font-size: clamp(2rem, 2.5vw, 5vh); /* Tamanho dinâmico entre 2rem e 5vh */
    color: white;
    max-width: 60%; 
    text-align: justify; 
    line-height: 1.2; /* Adiciona espaçamento entre as linhas */
    overflow-wrap: break-word; 
}

.colecao span {
    text-align: justify; 
    line-height: 1.2;
    font-size: clamp(2rem, 2.5vw, 5vh); 
    background-image: linear-gradient(45deg, #34ABE1, #227ca5, #88185d, #5c0f71, #34ABE1);
    background-size: 400% 100%;
    animation: degrade 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    z-index: 10;
}

.footer #direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80vh;
    gap: 80vh;
    font-size: 2.3vh;
}

.footer #marca {
    color:#2D7305;
}

.footer #marcaDAgua {
    color: #FC3A9A;
}